<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css">
    <title>Section 3 - Lecture 41</title>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="(ingredient, i) in ingredients">{{ ingredient }} ({{ i }})</li>
      </ul>
      <hr>
      <ul>
        <li v-for="person in persons">
          <div v-for="(value, key, index) in person">{{ key }}: {{ value }} ({{ index }})</div>
        </li>
      </ul>
      <span v-for="n in 10">{{ n }}</span>
      <hr>
      <template v-for="(ingredient, index) in ingredients">
        <h1>{{ ingredient }}</h1>
        <p>{{ index }}</p>
      </template>
    </div>

    <script src="../vue.js"></script>
    <script src="index.js"></script>
  </body>
</html>
