<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="assigment-4.css">
    <title>Assigment 4</title>
  </head>
  <body>
    <div id="exercise">
      <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
      <div>
        <button @click="startEffect">Start Effect</button>
        <div id="effect" :class="effects"></div>
      </div>
      <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
      <div :class="['orange-div', redText]" >I got no class :(</div>
      <!-- 3) Let the user enter a class (create some example classes) and attach it -->
      <div>
        <input type="text" v-model="inputClass">
        <div :class='inputClass'></div>
      </div>
      <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
      <div>
        <input type="text" v-model="inputClass">
        <input type="text" v-model="inputBool">
        <div :class='[{"red-text": inputBool}, inputClass]'>teste</div>
      </div>
      <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
      <div>
        <input type="text" v-model="myStyle.backgroundColor">
        <div :style="myStyle"></div>
      </div>
      <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
      <div>
        <button v-on:click="startProgress">Start Progress</button>
        <div :style="myProgressBar"></div>
      </div>
    </div>

    <script src="../vue.js"></script>
    <script src="assigment-4.js"></script>
  </body>
</html>
